@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Azeret Mono;
}

.navbar {
    height: 101px;
    display: flex;
    justify-content: center;
    padding: 0 150px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .container .logo p {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.download-resume {
    padding: 17px 24px;
    border-radius: 8px;
    border: 1px solid 0D1321;
    background: transparent;
    opacity: 0.8;
}

.hero-banner {
    padding: 26px;
    width: 100%;
    height: 100vh;
    max-height: 700px;
    background: url(./assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-banner .container {
    align-items: center;
    gap: 32px;
    display: flex;
    flex-direction: column;
}

.hero-banner .container .banner-image {
    width: 240.28px;
}

.hero-banner .container .banner-title {

    font-weight: 800;
    font-size: 48px;
    text-align: center;
    width: 998px;
}

.hero-banner .container .banner-description {
    width: 852px;

    font-weight: 400;
    font-size: 16px;
    text-align: center;
    opacity: 70%;
    width: 852px;
    color: rgb(13, 19, 33);
    line-height: 26px;
}

.contact-btn {
    font-size: 20px;
    line-height: 23px;
    border-radius: 8px;
    padding: 21px 24px;
    background-color: rgb(13, 19, 33);
    color: #fff;
    border: none;
    font-weight: 600;
}

/* ////////////////////////////////////////// */

main section {
    margin: 74px 148px;
}

.why-web-development {
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    border-radius: 16px;

}

main section .section-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: rgb(13, 19, 33);
    line-height: 37px;
}

main section .section-description {
    margin: 24px auto 48px auto;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgb(13, 19, 33);
    opacity: 70%;
    width: 852px;
    line-height: 26px;

}


/* card */


.rectangular-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.rectangular-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    padding: 48px;
    margin-bottom: 32px;
    background: white;
    background: linear-gradient(90deg, white 0%, transparent 100%);
    align-items: center;
}

.rectangular-card-image {
    width: 100%;
    max-width: 320px;
    margin-left: auto;
}

.rectangular-card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    width: 477px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;


}

.rectangular-card-description {
    margin-bottom: 10px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 70%;
    margin: 16px 0 32px 0;
    width: 468px;
}

.rectangular-card-button {
    color: rgb(13, 19, 33);
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 12px 20px;
    border: 2px solid rgb(85 90 100);
    opacity: 70%;
}

.rectangular-card:nth-child(even) {
    background: linear-gradient(90deg, transparent 0%, white 100%);
    grid-template-columns: 1fr 2fr;
}

.rectangular-card:nth-child(even) .rectangular-card-image {
    margin-right: auto;
    margin-left: 0;
}

/* /////////////////////////////// */



.yt-video-player {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    height: 550px;
    width: 1076px;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
}

.yt-video-player iframe {
    border-radius: 16px;
    height: 100%;
    width: 100%;
}







/* /////////////////////////////// */
.box-card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-card-container .box-card {
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.html {
    background: rgba(255, 76, 30, 0.05);
}

.css {
    background: rgba(0, 76, 232, 0.05);
}

.js {
    background: rgba(255, 223, 0, 0.05);
}

.box-card-container .box-card .box-card-image {
    max-width: 40px;
}



.box-card-container .box-card .box-card-title {

    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;

}

.box-card-container .box-card .box-card-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 70%
}



.box-card-container .box-card .box-card-link {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}








/* /////////////////////// */


.next-card-container {


    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

.next-card-container .next-card {
    border-radius: 16px;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 24px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);

background: rgb(255, 255, 255);
}
.next-card-container .next-card .right-side{
    margin-right: auto;
}

.next-card-container .next-card .left-side{
    text-align: center;
}

.next-card-container .next-card > div{
display: flex;
gap: 24px;
flex-direction: column;
justify-content: space-around;
}
.next-card-container .next-card .next-card-image {
    max-width: 100px;
    width: 100%;
    margin: auto ;
}

.next-card-container .next-card .next-card-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;

}

.next-card-container .next-card .next-card-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}



.next-card-container .next-card .next-card-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}



/* /////////////////////////// */

.contact-section{
    background: url(./assets/handshake.jpg) ;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 48px;
    border-radius: 16px;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 62%);

}
.contact-section .section-title{
    color: white;
}
.contact-section .section-description{
    color: white;
    width: 606px;
}
.contact-form{
    text-align: center;
}
.contact-form .contact-input{
    padding: 19px 20px;
    color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
line-height: 19px;
width: 548px;

box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
}
.contact-form .contact-btn{
    color: rgb(13, 19, 33);
    background-color: white;
font-size: 20px;
font-weight: 600;
line-height: 23px;
padding: 17px;
}

/* ///////////////////////// */
footer{
    border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
padding: 32px 148px
}
footer section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-text{
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
}
.footer-socials{
    display: flex;
    gap: 24px;
}